@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
	box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.anim-border {
	position: relative;
	z-index: 0;
	overflow: hidden;
	padding: .5rem;
}

.anim-border::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;

  background: rgb(255,134,96);
  background: linear-gradient(90deg, rgba(255,134,96,1) 35%, rgba(128,0,255,1) 65%);

  background-repeat: no-repeat;
  background-size: 80% 80%, 80% 80%;
	background-position: 0 0, 100% 0, 100% 100%, 0 100%;

  -webkit-animation: bg-spin 2s linear infinite;
  animation: bg-spin 2s linear infinite;
}

@-webkit-keyframes bg-spin {
	100% {
		transform: rotate(1turn);
	}
}

@keyframes bg-spin {
	100% {
		transform: rotate(1turn);
	}
}